<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription - Test IP PARIS</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="Views/css/index.css">
    <script src="Views/js/ajax.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>

<div class="container">
        <div class="col-md-12">
            <h1 class="text-center">TEST - INSCRIPTION IP-PARIS</h1>
        </div>

        <div class="col-md-12">
            <div class="alert alert-danger hide" role="alert">

            </div>
            <div class="alert alert-success hide" role="alert">

            </div>
        </div>
        <div class="col-md-5">
            <form id="form-subscribe" method="post" action="#">
                <div class="mb-3">
                    <label for="firstname" class="form-label">Votre Nom</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" required>
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Votre Prénom</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" required>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Veuillez sélectionner votre pays</label>
                    <select class="form-select" name="country" id="country" required>

                    </select>
                </div>
                <div class="mb-3">
                    <button type="submit" id="submit" name="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>



        <div id="view-result" class="table-responsive">
            <div class="spinner-border hide" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <table class="table table-striped mask">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Pays</th>
                    </tr>
                </thead>
                <tbody id="users-list">

                </tbody>
            </table>
        </div>
</div>

</body>
</html>